.error-placeholder::placeholder {
    color: var(--bs-danger);
    opacity: 1;
}

.error-placeholder {
    border: 2px solid var(--bs-danger) !important;
    font-style: italic;
}


.input-error {
    border: 2px solid var(--bs-danger) !important;
    font-style: italic;
}

.input-error::placeholder {
    color: var(--bs-danger);
    opacity: 1;
}